build --incompatible_strict_action_env
build --macos_minimum_os=14.0
build --xcode_version=27.0
build:release --compilation_mode=opt
build:release --//apps/macos:production=true
build:signed --//apps/macos:team_signing=true
build:distribution --config=release
build:distribution --//apps/macos:distribution=true
build:distribution --//apps/macos:team_signing=false
build:distribution --macos_cpus=arm64,x86_64
test --test_output=errors
test --test_env=DEVELOPER_DIR
test --run_under=//tools/testing:with_xcode
