MACOSX_DEPLOYMENT_TARGET = 14.0
SDKROOT = macosx
SWIFT_VERSION = 6.0
PRODUCT_NAME = Rations
PRODUCT_MODULE_NAME = RationsApp
DEVELOPMENT_TEAM = U65DCW9TAK
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = apps/macos/Resources/Development.entitlements
ENABLE_HARDENED_RUNTIME = YES
ENABLE_APP_SANDBOX = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = $(DERIVED_FILE_DIR)/Rations-Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
COMBINE_HIDPI_IMAGES = YES
SWIFT_EMIT_LOC_STRINGS = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
